h1 {
  background-image:;
}
body {
    background-color:#313131;
}

li {
    float: center;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    padding: 20px;
    background-color: #313131;
}
li a {
    display: block;
    color:#edc612;
    text-align: center;
    padding; 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}